* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ---- Footer ---- */

#footer {
    background-color: #f9f9f9;
    font-family: yekan;
    direction: rtl;
    font-weight: 100;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ---- Footer Section 1 ---- */

#footer > .section-1 {
    width: 70%;
    height: 335px;
    margin: 0px auto;
    padding-top: 50px;

    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #889098;
}

#footer > .section-1 > ul > li > a {
    font-size: 16px;
    color: #889098;
    line-height: 45px;
}

#footer > .section-1 > .conect-us {
    width: 25%;
    line-height: 30px;
}

#footer > .section-1 > .conect-us > div > img {
    vertical-align: middle;
}

/* ---- Footer Section 2 ---- */

#footer > .section-2 {
    width: 70%;
    margin: 0px auto;
    border-top: 1px solid #889098 ;
    padding: 10px 10px;

    display: flex;
    justify-content: space-between;
    color: #889098;
    align-items: center;
    
}

#footer > .section-2 > .search-box {
    width: 40%;

    display: flex;
    justify-content: space-between;
    height: 35px;
}

::placeholder {
    font-family: yekan;
    color: #889098;
}

#footer > .section-2 > .search-box > input {
    border: none;
    outline: none;
    border-radius: 8px;
    width: 80%;
    padding-right: 10px;
}

#footer > .section-2 > h4 {
    font-weight: 100;
}

#footer > .section-2 > .search-box > button {
    width: 20%;
    border-radius: 8px;
    background-color: #bc264b;
    
    font-family: yekan;
    font-size: 16px;
    color: #fff;

    border: none;
    cursor: pointer;
}

#footer > .section-2 > .icons > a > img {
    margin-right: 5px;
}

/* ---- Footer Section 3 ---- */
#footer > .section-3 {
    width: 70%;
    margin: 80px auto;
    background-color: #f1f1f1;
    background-image: url(./Images/Footer/Section3/Mask_Group.svg);
    background-repeat: no-repeat;
    background-position: 75%;
    border-radius: 5px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer > .section-3 > h3 {
    font-weight: 100;
}

#footer > .section-3 > .apps {
    display: flex;
    width: 70%;
}
#footer > .section-3 > .apps > a > img{
    width: 90%;
}

/* ---- Footer CopyRight ---- */

#footer > p {
    margin: 30px;
    font-size: 13px;
    color: #a7b7dd;
    text-align: center;
    padding: 10px 0;
}