* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* ---- Slider ---- */
#slider {
    width: 100%;
    height: 437px;
    overflow: hidden;
}

#slider > #gallery {
    width: 500%;
    display: flex;
    position: relative;
    left: 0%;
    transition: 1s;
}

#slider > #gallery > a {
    width: 20%;
}
#slider > #gallery > a > img {
    width: 100%;
}

#slider > #right {
    position: relative;
    top: -250px;
    right: 25px;
    color: #fff;
    cursor: pointer;
}
#slider > #left {
    position: relative;
    top: -250px;
    right: 1300px;
    color: #fff;
    cursor: pointer;
}

#slider > #button {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 40px;
    display: flex;
    gap: 5px;
    justify-content: center;
    position: relative;
    top: -100px;
}
#slider > #button > li {
    width: 12px;
    height: 12px;
    transition: width 2s;
    background: rgb(255, 237, 237);
    border-radius: 50px;
}
#slider > #button > li:hover {
    background-color: #bc264b;
}

#slider > #button > li.selected {
    width: 35px;
    background-color: #bc264b;
}

/* ---- Category ---- */
.category > .container {
    margin: 50px auto;
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 20px;

}
.category > .container > a {
    display: flex;
    flex-flow: column;
    text-decoration: none;
    color: #737e86;
}
.category > .container > a > img {
    width: 100%;
    border-radius: 10px;
}

.category > .container > a > span {
    margin-top: 5px;
    font-family: yekan;
    font-size: 0.9em;
    text-align: center;

}

/* ---- Poster 2 ---- */
#poster-2 > .container {
    width: 70%;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 15px;
}

#poster-2 > .container > .small {
    width: 25%;
    height: 240px;
    flex-grow: 1;
}

#poster-2 > .container > .big {
    height: 110px;
    flex-grow: 2;
}

#poster-2 > .container > .big2 {
    height: 220px;
    flex-grow: 2;
}

#poster-2 > .container >.item > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* ---- Mini Slider 1 ---- */
#miniSlider1 {
    width: 80%;
    height:300px;
    margin:100px auto;
    
    position:relative;
    overflow: hidden;
    
}

#miniSlider1 > #gal1 {
    width: 180%;
    height: 100%;
    
    transition: 0.5s;
    position: relative;
    left: 0%;
    display: flex;
    justify-content: right;
    gap: 1%;
}

#miniSlider1 > #gal1 > .items {
    width: 170px;
    height: 100%;
    text-align: center;
    
    position: relative;
    border:1px solid #eee;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}
#miniSlider1 > #gal1 > .title{
    border: none;
}

#miniSlider1 > #gal1 > .seeAll {
    background-color: #bc264b;
    color: #fff;
    text-align: center;
    line-height: 225px;
}

#miniSlider1 > #gal1 > .items > img{
    height: 40%;
    margin-top: 50px;
}
#miniSlider1 > #gal1 > .title > img{
    margin-top: 0;
    width: 100%;
    height:105%;
    position: relative;
    top: -5px;
}

#miniSlider1 > #gal1 > .items > h2{
    font-weight: 300;
    font-size:20px;
    margin:10px;
}

#miniSlider1 > #gal1 > .items > .break{
    font-size: 12px;
    text-align: right;
}

#miniSlider1 > #gal1 > .items > .price{
    color:#6fcf97;
    font-size: 16px;
    font-weight: 500;
}

#miniSlider1 > #gal1 > .items > .off > .off-text{

    color:#fff;
    font-weight: 600;
    letter-spacing: -2px;
    font-size: 14px;
    background: #bc264b;
    padding:12px 4px;
    border-radius:5px 5px 0px 0px;
    position:absolute;
    top: 0px;
    left: 10px;
}

#miniSlider1 > #gal1 > .items > .left{
    font-size: 11px;
    color: #f5a0a0;
    text-align: right;
    margin: 0 0 5px;
}


#miniSlider1 > #right1 {
    transition:0.2s;
    background: url(../Images/Main/MiniSlider1/right.png) 50%;
    background-color: rgba(255, 255, 255, 0.8);
    background-size: 90%;
    justify-items: center;
    cursor:pointer;
    width: 40px;
    height: 50px;
    position:absolute;
    top:90px;
    right:0;

    border: 1px solid gray;
    border-radius: 5px;
    visibility: visible;
}

#miniSlider1 > #left1 {
    transition:0.2s;
    background: url(../Images/Main/MiniSlider1/left.png) 50%;
    background-color: rgba(255, 255, 255, 0.8);
    background-size: 90%;
    justify-items: center;
    cursor:pointer;
    width: 40px;
    height: 50px;
    position:absolute;
    top:90px;
    left:0;
    
    border: 1px solid gray;
    border-radius: 5px;
    visibility: visible;
}

/* ---- Magazine ---- */
#magazine > .container {
    width: 70%;
    margin: 0px auto;
    display: flex;
    flex-flow: column;
    gap: 12px;
}

#magazine > .container > a{
    text-decoration: none;
    color: black;
}

#magazine > .container > a > h3 {
    font-family: yekan;
    text-align: center;
    font-size: 1.8em;
    font-weight: 100;
}
#magazine > .container > a > h3:hover {
    color: #817d7c;
}

#magazine > .container > .item {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}

#magazine > .container > .item > a{
    height: 240px;
    flex-grow: 1;
}

#magazine > .container > .item > a > .big{
    flex-grow: 2;
}

#magazine > .container > .item > a > img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


/* ---- Why Us ---- */
#why-us > .container {
    width: 50%;
    margin: 40px auto;
    font-family: yekan;
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 25px;
}

#why-us > .container > a {
    width: 150px;
    text-decoration: none;
    display: flex;
    flex-flow: column;
}

#why-us > .container > a > img {
    width: 70px;
    align-self: center;
}

#why-us > .container > a > span {
    margin-top: 15px;
    color: #817d7c;
    font-size: 14px;
    text-align: center;
}

/* ---- About Us ---- */
#about-us > .container {
    width: 70%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    gap: 15px;

    font-family: yekan;
}

#about-us > .container > .right {
    width: 60%;
    text-align: justify;
    color: #1a1a1a;
}

#about-us > .container > .right > #moreText {
    display: none;
}

#about-us > .container > .right > h3 {
    margin-bottom: 25px;
    font-size: 1.5em;
}

#about-us > .container > .right > #showHide:hover {
    cursor: pointer;
}
#about-us > .container > .right > #showHide {
    color: red;
}

#about-us > .container > .left > img {
    width: 70px;
    position: relative;
    top: 50px;
}